{include file="public/static" /}
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
    <div class="padding border-bottom">
        <a class="button border-yellow" onclick="window.location.href='#add'"><span class="icon-plus-square-o"></span> 添加内容</a>
    </div>
    <table class="table table-hover text-center" >
        <tr>
            <th width="5%">ID</th>
            <th width="10%">广告名称</th>
            <th width="10%">广告图片</th>
            <th width="10%">广告所属分类</th>
            <th width="10%">广告跳转地址</th>
            <th width="10%">广告排序</th>
            <th width="10%">是否显示</th>
            <th width="10%">网站描述</th>
            <th width="20%">操作</th>
        </tr>
       {volist name="ads" id="val"}
          <tr >
              <td>{$val.id}</td>
              <td>{$val.ads_name}</td>
              <td>
                  <img src="/upload/ads/{$val.ads_image}" width="100px;" height="100px;">
              </td>
              <td>
                 {$val.cate_name}
              </td>
              <td>
                  {$val.ads_url}
              </td>
              <td>
                  {$val.ads_sort}
              </td>
              <td>
                 {if condition="$val.is_lou==1"}
                  <a class="button border-main" href="" ><span class=""></span>显示</a>
                   {else/}
                  <a class="button border-red" ><span class=""></span> 不显示</a>
                  {/if}
              </td>
              <td>
                  {$val.ads_description}
              </td>
              <td>
              <div>
                  <a class="button border-main" href="{:url('admin/ads/edit',['id'=>$val.id])}" ><span class="icon-edit"></span> 修改</a>
                  <a class="button border-red" href="javascript:void(0)" onclick="return del(this,{$val.id})"><span class="icon-trash-o"></span> 删除</a>
              </div>
              </td>


          </tr>

        {/volist}





    </table>
</div>
<script>
    function del(obj,id){
       layer.confirm("您确定要删除吗",{icon:3,title:"提示"},function () {
        //  alert(id);
           $.get("{:url('admin/ads/del')}",{id:id},function (data) {
               if(data==1)
               {
                   layer.msg("删除成功",{icon:6});
                   $(obj).parent().parent().parent().remove();
               }
               else
               {
                   layer.msg("删除失败",{icon:5});
               }
           })
       })
    }
</script>
<div class="panel admin-panel margin-top">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" id="form-x" action="">

            <div class="form-group">
                <div class="label">
                    <label>广告名称：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="ads_name" value="" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>广告所属分类：</label>
                </div>
                <div class="field">
                   <select name="c_id" class="input">

                       <option>所属分类</option>
                       {volist name="cate" id="val"}
                       <option value="{$val.id}">{$val.cate_name}</option>
                       {/volist}
                   </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group" style="margin-left:50px;">
                <label for="" class="col-sm-2 control-label" style="float: left;">广告图片</label>

                <div class="fileds" style="float: left">
                    <input type="hidden" name="ads_image" id="imgHidden">
                    <input type="file" name=""  id="img">
                    <br>
                    <div id="main"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>广告描述：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="ads_description" value="" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>广告跳转</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="ads_url" value="" data-validate="required:请输入跳转地址" />
                    <div class="tips"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label>广告排序：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="ads_sort" value="0"  data-validate="required:,number:排序必须为数字" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>广告是否显示：</label>
                </div>
                <div class="field" >
                    <input type="radio" class="input " name="is_lou" value="1" />是
                    <input type="radio" class="input " name="is_lou" value="0" />否
                </div>


                <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit" onclick="save()"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body></html>
<script>
    function save() {
        var data=$("#form-x").serialize();
       // alert(data);
        $.ajax({
            'url':"{:url('admin/ads/save')}",
            'type':'post',
            'data':data,
            success:function (data) {
            //    alert(data);
                 if(data==1)
                 {
                     layer.msg('添加成功',{icon:6});
                   //  window.location.reload();
                 }
                 else
                 {
                     layer.msg(data,{icon:5});
                 }

             }
        });
    }


</script>
<script>
    //    var ue = UE.getEditor('editor');


    $('#img').uploadifive({
        // 是否自动上传
        'auto'             : true,
        // 显示上传动画DIV
        'queueID'          : 'main',
        // 处理文件上传的地址
        'uploadScript'     : "{:url('admin/ads/upload')}",
        // 文件上传框文字
        "buttonText":"上传图片",
        // 监听图片上传成功
        'onUploadComplete' : function(file, data) {
            // $("#main").find(".uploadifive-queue-item").remove();
            // $("#main").append(`<img width='200px' src='/upload/tmp/${data}'>`);
            $("#main").html("<img width='200px' src='/upload/ads/"+data+"'>");
            //      alert(data);
            $("#imgHidden").val(data);
        }
    });
</script>